{% extends "accounts/main.html" %}
{% load static %}
{% include 'accounts/navbar.html' %}

{% block content%}


<br>
        <div class="row m-4">
            <div class="col-md">
                <div class="col-card-body text-center card-header bg-primary text-white">
                    <h5>Products</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                    <tr>
                        <th>Products</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    {% for i in products %}
                    <tr>    
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td>₱ {{i.price}}</td>
                        <td>

                            {% comment %} <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Delete
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE PRODUCT</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ARE YOU SURE YOU WANT THIS PRODUCT?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <a class="btn btn-danger"  href="{% url "delete_list" i.id %}"style="color: white;">Delete</td>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             {% endcomment %}
                            <a class="btn btn-danger"  href="{% url "delete_list" i.id %}"style="color: white;">Delete</td>
                    </tr>
                    <!-- Button trigger modal -->
                    {% endfor %}
                    </table>
                            <!-- Button trigger modal -->
                        <a href="{% url "create_list" %}"><button type="button" class="btn btn-primary" data-bs-target="#exampleModal">
                            CREATE
                        </button></a>
                </div>
            </div>
        </div>

        
        
            
      
{% endblock  %}