/* FIRST CONTAINER */

#FirstBox{
    background-color: #FFFFFF;
    position: relative;
  }

#BoxOne_FirstLine{
    color: #15527D;
    font-weight: bold;
    font-size: 64px;
}

#BoxOne_SecondLine{
    color: #15527D;
    font-weight: bold;
    font-size: 48px;
}

#BoxOne_TextOne{
    color: #198DE0;
    font-weight: bold;
    font-size: 24px;
}
