/* .FooterMain{
    background-color: #25677B;
}

.flex{
    display: flex;
    color: white;
}

.Column1{
    margin-left: auto;
    margin-right: auto;
}

.BoxFoot1{
    color: white;
}

.BoxFoot2{
    color: white;
}

.BoxFoot3{
    color: white;
} */